/* 
============beautifying.css============
->
->
->
*/
/* 
============media============
->
->
->
*/
/* ========================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-X: hidden;
}

ul {
  padding-left: 0px;
}
li {
  list-style: none;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
}
/* section header */

:root {
  --color-100: #f8f9fa;
  --color-200: #e9ecef;
  --color-300: #dee2e6;
  --color-400: #ced4da;
  --color-500: #adb5bd;
  --color-green: rgb(15, 102, 19);
  --transition: 0.5s;
  --transition-one: 1s;
  --background:background-image: radial-gradient(circle at 56.16% -20.44%, #ab9ff9 0, #8286ef 25%, #486ee5 50%, #0059db 75%, #0047d2 100%);;
}

.first-part-container{
  background-color: #000b11;
  width: 100%;
  min-height: 570px;
  padding: 5rem 0 2rem 0;
}

.header {
  display: flex;
  padding: 0px 5px 150px 0;
  justify-content: space-around;
  align-items: center;
 
}
.header img {
  height: 40px;
  margin-left: -5.5em;
}
.array-link {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  right: -5rem;
}
.array-link li {
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}
.array-link li a {
  color: var(--color-100);
  text-decoration: none;
  text-transform: capitalize;
}
.line-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--color-green);
  position: absolute;
  left: 0px;
  bottom: -10px;
  border-radius: 10px;
}
.array-link li:first-child a {
  color: var(--color-green);
}
.line-text > a {
  color: var(--color-green);
}
.header .search {
display: none;
}
.main .icon {
  padding: 10px;
  border: 1px solid;
  color: var(--color-100);
}
/* Home */
.home {
  font-size: 28px;
  position: relative;
  top: 2rem;
}
.home .title {
  color: var(--color-100);
}
.home .home-desc {
  color: var(--color-500);
  font-size: 13px;
}

.home img {
  position: absolute;
  right: 7.5rem;
  top: -8rem;
}
.container{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content:flex-end;
  align-items: left;
}
.css-button-shadow-border--green {
  width: 130px;
  font-size: 20px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #00cc0b;
}
.css-button-shadow-border--green:hover {
  background-color: #80ed99;
}
.css-button-shadow-border--green:active {
  top: 2px;
}

.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12rem 12rem 2rem 2rem;
  font-size: 12px;
  background-color: #000b11;
  color: #c3c3c398;
  position: relative;
}

.brand-icons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70rem;
  gap: 2rem;
}

.middle-icon-container{
  position: relative;
  right: 5rem;
  }

  .middle-icon-container i {
    border: 1px solid var(--color-100);
    padding: 10px;
  }

.grip-container{
  position: absolute;
  right: 87rem;
}
.grip-container {
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.grip-dot {
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  background-color: #eee;
}
/* section tow product */
 .bg-section {
  padding-bottom: 5rem;
  background-color: #181818;
}

.img-product img {
  height: 20rem;
  object-fit: cover;
}

.product-info h1 {
  color: #eee;
}

.product-info p {
  color: #ccc;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
}

.middle-icon-container-two {
  display: flex;
  flex-direction: column;
}

.middle-icon-container-two i {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.product {
  border: 1px solid #666; 
  margin: 0px 5px;
}

.info-product {
  text-align: center;
}

.info-product img {
  height: 15rem;
  object-fit: cover;
}

.info-product .title-product {
  color: #eee;
}

.info-product .price-product {
  color: #00cc0b;
}

.razer-insider {
  width: 100%;
  background-color: #181818;
  color: #303539;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.razer-insider img {
  max-width: 100%;
  max-height: 20rem;
  filter: brightness(0.5);
}
.upper h1 {
  position: relative;
  bottom: 15rem;
  left: 10rem;
  color: #eee;
  z-index: 10000;
}
.upper p {
  position: relative;
  bottom: 15rem;
  left: 10rem;
  color: #00cc0b;
}
.lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.lower-part {
  margin: 0rem 3rem 3rem 2rem;
  padding: 1rem;
  max-height: 13rem;
  max-width: 22rem;
  overflow: hidden;
  text-align: left;
  line-height: 30px;
}

.lower-part a {
  text-decoration: none;
  color: #eee;
}
.razer-insider button {
  margin: 2rem;
  width: 150px;
  font-size: 15px;
  height: 40px;
  color: #fff;
  padding: 7px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #00cc0b;
}
/* section software */
.software-container {
  padding: 20px;
}
.software-container .line-title {
  color: #00cc0b;
  text-align: center;
}
.software-container h1 {
  text-align: center;
  color: var(--color-100);
}
.section {
  display: flex;
  justify-content: space-evenly;
}
.section-item {
  width: 100%;
  padding: 30px;
  text-align: center;
  border: 1px solid #212121;
  overflow: hidden;
  box-shadow: 1px 0px 5px 1px #110f0f;
  margin: 10px;
}
.section-item i {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  font-size: 40px;
  color: #00cc0b;
  border: 1px solid;
  padding: 10px;
  border-radius: 35px;
}
.section-item .Definition {
  color: var(--color-100);
}
.section-item h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
.section-item .line-title {
  font-size: 15px;
  color: #00cc0b;
  text-align: center;
}
/* footer */
footer {
  background-color: #000b11;
  padding: 20px;
}
.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
  grid-gap: 10px;
}
.footer-logo {
  grid-column: 5 / span 1;
  text-align: center;
}

.footer-word {
  text-align: center;
  color: var(--color-500);
}